{% extends 'security/base.html.twig' %}
{% block body %}
<h5 class="card-title text-center">Регистрация</h5>

{% if not registrationForm.vars.valid %}
    {% for error in registrationForm.vars.errors.form.getErrors(true) %}
      <div class="alert alert-danger" role="alert">
        {{ error.message }}
      </div>
    {% endfor %}
{% endif %}

{% if success %}
    <div class="alert alert-success" role="alert">
        Для завершения регистрации подтвердите ваш email
    </div>
{% endif %}

{{ form_start(registrationForm, {
    attr: { class: 'form-signin' }
}) }}

<div class="form-label-group">
    {{ form_widget(registrationForm.firstName, {
        attr: { placeholder: 'Ваше имя', class: 'form-control'}
    }) }}
    {{ form_label(registrationForm.firstName, 'Ваше имя', {
        label_attr: { for: 'user_registration_form_firstName'}
    }) }}
    
</div>

<div class="form-label-group">
    {{ form_widget(registrationForm.email, {
        attr: { placeholder: 'Ваш email', class: 'form-control'}
    }) }}
    {{ form_label(registrationForm.email, 'Ваш email', {
        label_attr: { for: 'user_registration_form_email'}
    }) }}
</div>

<div class="form-label-group">
    {{ form_widget(registrationForm.plainPassword.first, {
        attr: { placeholder: 'Пароль', class: 'form-control'}
    }) }}
    {{ form_label(registrationForm.plainPassword.first, 'Пароль', {
            label_attr: { for: 'user_registration_form_plainPassword_first'}
    }) }}
</div>

<div class="form-label-group">
    {{ form_widget(registrationForm.plainPassword.second, {
        attr: { placeholder: 'Пароль', class: 'form-control'}
    }) }}
    {{ form_label(registrationForm.plainPassword.second, 'Пароль', {
            label_attr: { for: 'user_registration_form_plainPassword_second'}
    }) }}
</div>

<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Регистрация</button>
{{ form_end(registrationForm) }}
<hr class="my-4">
<div class="text-center"><a href="{{ path('app_login') }}">Я уже зарегистрирован</a></div>
</form>
{% endblock %}
